/* SendInput.css */

.send-input-form {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.input-container {
  width: 100%;
  position: relative;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  border: 3px solid red; /* Tailwind: border-zinc-500 */
  background-color: white; /* Tailwind: bg-gray-600 */
  color: #000;
  
  border-radius: 20px; /* Tailwind: rounded-lg */
  font-size: 14px; /* Tailwind: text-sm */
}



.send-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}
