.signup-container {
  min-width: 24rem;
  margin: auto;
}


.signup-form-container {
  width: 100%;
  padding: 1.5rem;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #000;
  backdrop-filter: blur(10px);
  border: 1px solid #e2e8f0;
}

.signup-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  padding: 0.5rem;
  display: block;
  font-size: 1rem;
}

.form-input {
  border: 0.1rem solid #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  
  height: 2.5rem;
  box-sizing: border-box;
}

.gender-selection {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  margin-left: 100px;
  gap: 4px;
}

.gender-option {
  display: flex;
  align-items: center;
}

.gender-option p {
  margin-right: 0.5rem;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #4e0eff;
  background-color:#4e0eff;
  color: white;
  font-size: 0.875rem;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.25rem;
}

.submit-button:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: red;
  font-weight: bold;
}

.login-link {
  text-align: center;
  margin: 1rem 0;
}
.brand{
  display: flex;
  flex-direction: row;
  

  img{
height: 4rem;
  }
}

span{
  color: #4e0eff;
  width:200px;
  font-weight: bold;
}
p{
  color: #fff;
  font-weight: bold;
}
@media (max-width: 768px) {
  .brand {
    display: flex;
  flex-direction: row;
  
  }
}

@media (max-width: 480px) {
  .brand {
    display: flex;
  flex-direction: row;
  }
}